//AWS Config
aws_region = "us-east-1"
aws_access_key = "my-access-key"
aws_secret_key = "my-aws_secret_key"
//Optional
//aws_aws_instance_ami = "ami-052efd3df9dad4825"
//aws_instance_type = "t2.micro"


//Okta ASA
okta_asa_key_secret = "asa_key_secret"
okta_asa_key = "asa_key"
okta_asa_team = "team-name"